{% extends "base" %}
{% block title %}OK{% endblock title %}
{% block content %}

<section>
    <header>
        <h2>Error 😭</h2>
    </header>
    <pre>
    <code>
    {{message}}
    </code>
    </pre>
</section>
{% endblock content %}

